.slider {
    max-width: 90%;
    position: relative;
    margin: auto;
    height: 40vh;
    margin-bottom: 20px;
}

.slider .item img {
    object-fit: contain;
    width: 55%;
    height: 30%;
    border: none;
    box-shadow: none;
}

.silder-text {
    position: absolute;
    color: rosybrown;
    font-size: 35px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.slider-dots {
    text-align: center;
}

.slider-dots-item {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: antiquewhite;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .slider-dots-item:hover {
    background-color: azure;
}

.slider .item {

    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
